.header a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    color: white;
    transition: color ease-in-out 300ms;
}

.header a:hover {
    color: skyblue;
}